body {
    font-family: "Comic Sans MS", "cursive";
  }
table {background-color: rgb(70, 130, 180);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 50px 10px 50px;
  }
#church-div {
  text-align: center; margin-top: 10px
}

#image-banner {
  width: 450px;
}

#div-part1 {
  text-align: center
}

#ministries {
  color: rgb(70, 130, 180)
}

#div-part2 {
  display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 100px;
        margin-right: 100px
}

#free-huell {
  font-size: 200%; color: rgb(70, 130, 180)
}

#p-free-huell {
  font-size: 130%
}

#p-save-heull {
  font-size: 200%
}

#link-heull {
  color: rgb(255, 0, 216)
}

#div-part3 {
  display: flex; justify-content: center; align-items: flex-end"
}

.cross-img {
  width: 10px
}

#div-other-min {
  text-align: center;
          list-style-position: inside;
          margin-left: 150px;
          margin-right: 150px;
          margin-top: 20px
}
#footer {
  text-align: center;
  margin-top: 50px;
  font-size: 75%;
  color: rgb(160, 160, 160)
}